.about-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.about-avatar{
    margin-left: 1rem;
    width:10rem;
    height:10rem;
}

.aboutcontent{
    width: 90%;
    margin-left: 1rem;
    align-items: center;
}