.avatar-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.login-avatar{
    margin-left: 1rem;
    width:auto;
    height: auto;
}

.login-content{
    width: 90%;
    margin-left: 1rem;
    align-items: center;
}